<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>


        <!-- Vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <!-- css -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body class="debug">

        <main id="app">
            
            <div class="container-lg">
                <div class="row">

                    <div class="col-12 d-flex justify-content-center pt-5">
                        <h1>To Do</h1>
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-2 align-items-center g-0">

                        <div class="input-group mb-3">
                            <input type="text" class="form-control"  placeholder="Inserisci qui" v-model="newTaskInput">
                        </div>

                        <button type="button" class="btn btn-primary mx-2" @click="addTask()">
                            Inserisci
                        </button>
                    </div>

                    <div class="col-12">

                        <ul v-if=" todos.length > 0">
                            <li v-for="(singleTask, index) in todos" class="d-flex justify-content-between align-items-center"> 
                                
                                <div>
                                    <span :class="singleTask.done == false ? 'task-not-done' : ''">
                                        {{ singleTask.text }}
                                    </span>
                                </div>

                                <a href="#nogo" @click="removeTask(index)" class="text-decoration-none">
                                    X
                                </a>
                            </li>
                        </ul>

                        <p v-else>
                            Nessun Task in programma !
                        </p>

                    </div>

                </div>
            </div>

        </main>

        <script type="text/javascript" src="js/scripts.js"></script>
    </body>
</html>